.styled-form{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Montserrat, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-form h1 h2 p{
    background-color: #040468;
    /* color:#ffffff; */
    text-align: left;
}

.styled-form label input{
    padding: 12px 15px;
}