
 .create-form label{
  color:whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

 .main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://journalofethics.ama-assn.org/sites/journalofethics.ama-assn.org/files/2018-07/shutterstock_719574463.jpg');
  background-size:cover;
  /* color:whitesmoke; */
  flex-direction: column;
} 

.nav-design{
  color:#040468;
}